.gridLine {
  display: flex;
  width: 100%;
}

.gridItem {
  outline: 2px solid grey;
  width: 45px;
  height: 45px;
}

.gridHolder {
  display: flex;
  flex-wrap: wrap;
  height: 630px;
  background-color: green;
  width: 450px;
}
