.ppImage {
  width: 100px;
  height: 100px;
  filter: invert(1);
  background-color: white;
}

.playerProfileContainer {
  width: 700px;
  display: flex;
  color: white;
  justify-content: right;
}

.ppLeft {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.ppCurrencyHolder {
  display: flex;
  gap: 5px;
  justify-content: space-between;
}

.ppName {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 10px;
}

.ppCurrentTrader {
  display: flex;
  flex-direction: column;
}

.ppLevel {
  position: absolute;
  z-index: 10;
}

.currentStanding,
.nextStanding {
  display: flex;
  gap: 10px;
}

.profileIcon {
  width: 15px;
  height: 15px;
  filter: invert(1);
}

.currentRep,
.nextRep {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 50px;
}
.currentLevel,
.nextLevel {
  width: 100px;
}

.currentSpent,
.nextSpent {
  width: 145px;
  display: flex;
  justify-content: space-between;
}
