.tradersHolder {
  display: flex;
  gap: 5px;
  width: fit-content;
}

.traderBox {
  background-color: yellow;
  display: flex;
  flex-direction: column;
  width: 100px;
  height: fit-content;
  align-items: center;
  padding: 5px;
  border: none;
  outline: none;
}

.traderImageHolder {
  background-color: green;
  width: 90px;
  height: 90px;
  font-size: 0.5rem;
  display: flex;
  justify-content: space-between;
  background-image: url("../assets/placeholders/traderplaceholder.png");
}

.traderName,
.traderRep,
.traderReset {
  text-align: center;
}

.traderBox:hover {
  cursor: pointer;
  background-color: rgb(250, 250, 166);
}

.traderBox.active {
  background-color: purple;
}

.inventoryBtn {
  background-color: #0d0e0e;
  color: #c3c1b0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  gap: 5px;
  height: 20px;
}

.inventoryHeader {
  display: flex;
  gap: 5px;
  background-color: black;
  height: 30px;
  align-items: center;
  width: 100%;
}

.inventoryBtn.first {
  margin-left: 5px;
}

.inventoryBtn.active {
  background-color: rgb(185, 185, 185);
  color: black;
}

.inventoryBtn.active > .footerIcon {
  filter: invert(0);
}

.inventoryBtn:hover {
  cursor: pointer;
  outline: 2px solid white;
}

.traderItemHolder {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 3px;
}

.individualItem {
  display: flex;
  flex-direction: column;
  background-color: beige;
  height: 60px;
  width: 60px;
  font-size: 0.7rem;
  justify-content: space-between;
}

.individualItem:hover {
  cursor: pointer;
  outline: 2px solid white;
}

.individualItemName {
  max-width: 60px;
  overflow-x: hidden;
  text-wrap-mode: nowrap;
  text-overflow: ellipsis;
}

.bottomPart {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.mouseOverBox {
  position: absolute;
  transform: translateX(60px) translateY(-50%);
  width: 400px;
  height: 400px;
  background-color: black;
  color: white;
  padding: 5px;
}

.mouseOverPicture {
  background-color: gold;
  width: 300px;
  height: 300px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.mouseOverBox.flipped {
  transform: translateX(-410px) translateY(-50%);
}

.weaponImage {
  width: 300px;
  height: 300px;
}

.invBuyContainer {
  display: flex;
}
