.tradersHolder {
  display: flex;
  gap: 5px;
  width: fit-content;
}

.traderBox {
  background-color: yellow;
  display: flex;
  flex-direction: column;
  width: 100px;
  height: fit-content;
  align-items: center;
  padding: 5px;
  border: none;
  outline: none;
}

.traderImageHolder {
  background-color: green;
  width: 90px;
  height: 90px;
  font-size: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.traderName,
.traderRep,
.traderReset {
  text-align: center;
}

.traderBox:hover {
  cursor: pointer;
  background-color: rgb(250, 250, 166);
}
