.mainContent {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.tempBlocker {
  height: 100%;
  width: 66%;
  background-color: black;
}

.gridBlocker {
  height: 100%;
  width: 34%;
  background-color: grey;
}
